<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Combo Tree Management system | Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css') }}
    {{ style('assets/css/main20.css') }}
    
</head>

<body>

    @!section('content')

</body>

</html>